.root{
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;


    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    flex: 1;
    min-height:100%;
 

}



/*

.register-button{
    vertical-align: top;
    position: absolute;
    right: 10px;
    top: 10px;
}

.landing-header{
    min-width: 300px;
    height: auto;
    vertical-align: top;
    position: absolute;
    padding: 0 0px;
    top: 10px;
}

.landing-footer{
}

*/