.page-root{
    background-color: none;
    font-family: Helvetica, Arial, sans-serif; 
    position: relative;
    min-height: 100%;
    min-width: 100%;

}
.landing-root{
    background-color: none;
    font-family: Helvetica, Arial, sans-serif; 
    position: relative;
    max-height: 100%;
    min-width: 100%;

}

.landing-root-header{
    min-height: 10%;;
    display: flex;
    padding: 20px 0px;
    flex-direction: row;
    justify-content: space-around;
}
.landing-content{
    min-height:90%;
    height: 90%;

}

.nav.active{
    border-bottom: 2px solid rgb(63, 162, 255);

}
/*

   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    flex: 1;
    min-height:100%;

.register-button{
    vertical-align: top;
    position: absolute;
    right: 10px;
    top: 10px;
}

.landing-header{
    min-width: 300px;
    height: auto;
    vertical-align: top;
    position: absolute;
    padding: 0 0px;
    top: 10px;
}

.landing-footer{
}

*/