.chat-message-view{
    margin-top:20px;
    margin-bottom: 20px;
    padding: 0px 20px;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 20px;
}


.chat-message-text-view{
    width: 85%;
    background-color: rgb(124, 210, 250);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
}

.user .message-options-view{
    background-color: green;
    display: none;
}

.user .chat-message-text-view{
    margin-left:15%;
}


.chat-message-text-view.user{
    float: right;
}
.message-options-view{
    min-width: 15%;
    display: inline-block;
    font-size: 18px;
    color: rgb(212, 209, 209);

    position: absolute;
    bottom: 0px;
    right:0px;
    padding: 0px 4px;
    
}

.my-message-options-view{
    min-width: 15%;
    display: inline-block;
    font-size: 18px;
    color: rgb(212, 209, 209);

    position: absolute;
    bottom: 0px;
    margin-bottom: 3px;
    padding: 0px 4px;
    
}


.show-reactions-button{
    position: relative;
    display: flex;
    margin-top: auto;
    margin-bottom: 3px;
}

.tmessage-options-view{
    min-width: 8%;
    display: inline-block;

    top:0px;
    right: 0px;
    margin-top: 34px;

    min-height: 100%;

    text-align: center;
    font-size: 18px;
    color: rgb(212, 209, 209);
}


.message-options-view.user{
    float: left;
}
.chat-message-text{


    border-radius: 12px;
    display: inline-block;
    width: auto;
    font-family: Helvetica, Arial, sans-serif;

    min-width: 100%;
    max-width: 100%;
    padding: 0px 0px;
    margin:0px;

}

.options-menu{
    display: inline-block;
    width: auto;
    font-family: Helvetica, Arial, sans-serif;

    max-width: 4%;

}

.chat-message-text.user{
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(85, 182, 214);
    
}


.username-text{
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    margin:0px;
    font-size:14px;
    display: inline-block;
    width: auto;
}

.username-text.user{
    text-align: right;
}


.reaction-bar{
    padding: 2px 0px;
    margin:0px;
    font-size:10px;
    position: relative;
    display: inline-block;
    float: right;
    margin-left: auto;
    background-color: aqua;
}

.reaction-bar.user{
    

}

.reaction-emoji{
    padding: 0 0px;
}
.reaction-count{
    padding: 0px 3px;
}
.reaction-tracking{
    padding:3px;
}
.old_message-options-view{
  
    min-width: 100px;
    position: absolute;
    display: inline-block;
    bottom: -15px;
    right:20px;
    text-align: right;

}

.show-emojis-btn{
    position: relative;
    max-height: 31px;
    font-size: 20px;
    padding:4px 4px;
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid rgb(212, 209, 209);
    color: rgb(142, 142, 142);

    float: right;
}

.report-user-button{
    color: rgb(255, 29, 29);

}

.reaction-option{
    padding: 0px 6px;
    font-size: 14px;
    text-align: bottom;

    
}

.reaction-options{
    padding: 0px 5px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgb(212, 209, 209);
    white-space: nowrap;
    position: absolute;

    right:0px;
    bottom:0px;
    margin-right: 60px;


}

.reaction-options.custom-show{
    max-width: 500px;
    border: 0.5px solid rgb(212, 209, 209);
    transition: all 0.5s ease;
    overflow:hidden;


}

.reaction-options.custom-hide{
    max-width: 0px;
    max-width: 0px;
    padding: 0px 0px;
    border: 0 solid rgb(212, 209, 209);
    overflow:hidden;
    transition: all 0.1s ease;
    
}

.message-options-view.hide{
    display: none;
}

.hide{
    display: none;
}