.chatroom-root{
    width: 100%;
    min-height: 100%;
    position: relative;


}

p{
    margin: 0px;
    padding: 0px;
}

.chatroom-view{
    background-color: none;
    width: 100%;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;

   
    /*display: flex;
    align-content: space-between;*/


}

.title-view{
    margin: 0;
    padding: 20px 0;
    border-bottom: 0px solid rgb(162, 161, 161);
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
    position: relative;
    display: block;
    width:100%;


}

.title-leave-btn{
    padding: 8px 12px;
    font-size: 13px;
    margin-left: 14px;
    background-color: rgb(255, 29, 29);
    color: white;
    font-weight: bold;
    
    border-radius: 6px;
    border: "none";
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;


}

.leave-text{
    position: absolute;             /* new */
    display: inline-block;
    right: 0px;
    margin-right: 30px;
    height: auto;
    color: rgb(255, 29, 29);

    font-size: 16px;
    font-weight: bold;
}
.title-text{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top:0px;
    margin: 0px;

    position: relative;             /* new */
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    font-weight: bolder;

    

}



.chatroom-messages-view{
    padding: 0 14px;
    height: 560px;
    max-height: 560px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    overflow-y: scroll;

    background-color:none;
    min-width: 100%;
    max-width: 100%;

}



.typed-message-view{
    border-top: 0px solid gray;
    background-color: white;
    background-color: rgb(235, 237, 238);
    padding:10px 12px;


    
}
.typed-message-input{
    margin: none;
    width: 80%;
    font-size: 14px;
    resize: none;
    border: none;
    border-radius: 10px;
    border: 0px solid rgb(163, 161, 161);
    max-height: 72px;


}

.send-message-btn{

    color: black;
    border-radius: 10px;
    padding: 12px;
    margin-left: 5px;
    font-size: 20px;
    position: absolute;
    margin-top:auto;

}

.character-count{
padding:6px;
margin-left: 10px;
font-size: 12px;
}

.message-info-modal{
    min-width: 100%;
}
.message-info-modal button{
    background-color: rgb(214, 59, 38);
    color: white;
    display: block;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    transform: translateX(50%);
    
}