.chat-message-view{
    margin-top:20px;
    margin-bottom: 20px;

}

.chat-message-view.user{ 
    text-align: right;
}

.chat-message-text{
    background-color: rgb(124, 210, 250);
    border-radius: 18px;
    display: inline-block;
    width: auto;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 60%;
    padding: 16px;

}

.chat-message-text.user{
    background-color: lightgrey;
}

.username-text{
    padding: 7px 0px;
}