p{
    margin: 0px;
    padding: 0px;
}
.title-view{
    background-color: white;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(162, 161, 161);
}

.title-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding-top:0px;
    padding: 14px;
    margin: 0px;
    text-align: center;
}

.chatroom-view{
    background-color: white;
}

.chatroom-messages-view{
    padding: 0 14px;
    min-height: 595px;
    max-height: 615px;
    overflow-y: scroll;
}



.typed-message-view{
    background-color: blueviolet;
    padding:14px;
    
}
.typed-message-input{
    width: 80%;
    height:22px;
    overflow:scroll;
}

.send-message-btn{
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 10px;
    padding: 6px;
    margin-left: 5px;
    font-size: 20px;

    vertical-align: middle;
}