.root{
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;

}

.input-view{
    width: 300px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 14px;
}

.input-title{
    padding: 8px 0;
    font-size: 20px;
}


.input-text{
    text-align: left;
}

input{
    border: none;
    background-color: none;
    outline: 0;
    border-bottom: 1px solid rgb(40, 174, 197);
    font-size: 25px;
    width: 300px;
    height: 30px;
  }
  
  input:focus {
    background-color: none;
    border-bottom: 3px solid rgb(40, 174, 197);
    width: 300px;
    height: 30px;
  }